/*html {
    margin:;
    padding:;
    font-family:;
    font-size:;
}*/

/*header {
    background-color:;
    padding:;
    text-align:;
    font-size:;
    color:;
}*/

/*body {
    font-family:;
    background-color:;
}*/

/*article {
    float:;
    padding:;
    width:;
    background-color:;
}*/

#menu {
    list-style-type: none;
    background-color: black;
}

#menu_list_link:hover {
    color: black;
    background-color: white;
}

#menu_list {
    display: inline;
    font-size: 1rem;
    font-family: Arial;
}

#menu_list_link {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

/* footer {
    background-color:;
    padding:;
    text-align:;
    color:;
} */